{% extends "browser/base.html" %}
{% block content %}
    <main class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
        <h1>About</h1>
        <p class="bd-lead">The Aliment to Bodily Condition knowledgebase highlights molecular mechanisms behind nutritive associations. This is accomplished through the connection of 10 disparate, siloed public resources and text mined associations from MEDLINE abstracts. This knowledgebase furthers precision nutrition hypotheses through the molecular mechanisms of plants on human health. </p>
        <h2>Statistics</h2>
        <p>Placeholder</p>
        <h2>Credits</h2>
        <p>Aaron Trautman, Dr. Richard Linchangco, Steven Blanchard, Dr. Jeremy Jay, Dr. Cory Brouwer, and the interns that have contributed many features of this program</p>
        <h2>Contact</h2>
        <p>Aaron Trautman - atrautm1@uncc.edu |
        Cory Brouwer - Cory.Brouwer@uncc.edu</p>
    </main>
    <footer class="footer fixed-bottom">
      <div class="container">
        <a class="text-muted" href="https://github.com/atrautm1/ABCkb">Check out our GitHub repository</a>
      </div>
  </footer>
{% endblock content %}
  