{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" media="screen" type="text/css" href="{% static 'browser/main.css' %}">
<link rel="stylesheet" media="screen" type="text/css" href="{% static 'browser/style.css' %}">
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<head>
</head>

<body>
<header class="site-header">
<nav class="navbar navbar-expand-md navbar fixed-top">
    <a class="navbar-brand" href="{% url "browser-home" %}">ABCkb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if request.resolver_match.url_name == "browser-home" %}active{% endif %}">
          <a class="nav-link" href="{% url "browser-home" %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == "browser-about" %}active{% endif %}">
          <a class="nav-link" href="{% url "browser-about" %}">About</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li class="nav-item {% if request.resolver_match.url_name == "profile" %}active{% endif %}">
            <a class="nav-link" href="{% url "profile" %}">Profile <span class="sr-only">(current)</span></a>
          </li>
          <a class="btn btn-outline-light" href="{% url "logout" %}" role="button">Logout</a>
        {% else %}
        <a class="btn btn-outline-light {% if request.resolver_match.url_name == "login" %}active{% endif %}" href="{% url "login" %}" role="button">Login | Sign up</a>
        {% endif %}
        </ul>
    </div>
  </nav>
  </header>
  <main role="main" class="container">
 {% block content%}{% endblock content %}
 </main>  
 <script src="https://code.jquery.com/jquery.js"></script>
 <script src="https://unpkg.com/@popperjs/core@2"></script>
 <script type="text/javascript" src="{% static 'browser/js/bootstrap.min.js' %}"></script>
 <script type="text/javascript" src="{% static 'browser/js/bootstrap.bundle.min.js' %}"></script>
 <script type="text/javascript" src="{% static 'browser/js/custom.js' %}"></script>
 <script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
    $(document).ready(function(){
            $('[data-toggle = "tooltip"]').tooltip();
         });
</script>
</body>
</html>